<mat-toolbar>
    <mat-toolbar-row>
        <div>
        <a class="Logo" routerLink="/">
            <img src="https://uploads.turbologo.com/uploads/design/hq_preview_image/965291/draw_svg20210507-22909-14tgwma.svg.png" alt="cookie">
        </a>
    </div>
        <div class="menu-links">
            <a mat-buttom href="#" target="_blank-"> Jogos</a>
            <a mat-buttom href="#" target="_blank-"> Portfólio</a>
            <a mat-buttom href="#" target="_blank-"> Contato</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
  
